include:
  - project: "waldur/waldur-pipelines"
    file: "/templates/stages.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/test/check-merge-compatibility.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/test/lint-md-files.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/deploy/dev-env-update.yml"

variables:
  DOCKER_REGISTRY_PREFIX: "registry.hpc.ut.ee/mirror/"

Test compose configuration:
  services:
    - name: "docker:20.10.16-dind"
      command: ["--mtu=1400"]
  interruptible: true
  rules:
    # If triggered from another pipeline
    - if: $TRIGGER_PROJECT_NAME
    # If changes are pushed to `develop` or `master` branch
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH == "master"'
    # If associated merge request exists
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    # If triggered by a schedule
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  variables:
    DOCKER_DRIVER: overlay2
    COMPOSE_INTERACTIVE_NO_CLI: 1
    WALDUR_DOMAIN: docker
    TLS: internal
    DOCKER_REGISTRY_PREFIX: "registry.hpc.ut.ee/mirror/"
  script:
    - cp -vf .env.example .env
    - echo "DOCKER_REGISTRY_PREFIX=registry.hpc.ut.ee/mirror/" >> .env
    - |
      if [ "$CI_PIPELINE_SOURCE" == "merge_request_event" ]; then
        echo "Testing using latest images"
        sed -i 's/WALDUR_MASTERMIND_IMAGE_TAG=.*/WALDUR_MASTERMIND_IMAGE_TAG=latest/' .env
        sed -i 's/WALDUR_HOMEPORT_IMAGE_TAG=.*/WALDUR_HOMEPORT_IMAGE_TAG=latest/' .env
      fi
    - docker compose version
    - docker context list
    - docker info
    - docker compose config
    - echo "Pulling images:"
    - docker compose pull
    - echo "Images pulled:"
    - docker images
    - docker compose up waldur-mastermind-db-migration
    - docker compose logs --tail=100 waldur-mastermind-db-migration
    - docker compose up -d
    - docker compose ps
    - docker compose exec waldur-mastermind-worker status
    - docker compose exec waldur-mastermind-worker waldur createstaffuser -u admin -p password -e admin@example.com
    # Using `docker` host due to docker networking model:
    # Accessing directly to the `dind` service
    - curl -k -i https://docker | grep 200
    - curl -k -i https://docker/api/ | grep 401
    - curl -X POST -d '{"username":"admin","password":"password" }' -H "Content-type:application/json" -k -i https://docker/api-auth/password/ | grep 200
  before_script:
    - apk add curl
    - |
      if [ "$TRIGGER_PROJECT_NAME" == "waldur-mastermind" ]; then
        export WALDUR_MASTERMIND_IMAGE_TAG=${TRIGGER_IMAGE_TAG}
      elif [ "$TRIGGER_PROJECT_NAME" == "waldur-homeport" ]; then
        export WALDUR_HOMEPORT_IMAGE_TAG=${TRIGGER_IMAGE_TAG}
      fi

# Override default rules so the job runs for tags automatically
Trigger dev env update:
  rules:
    - if: '$SKIP_DEV_UPDATE == "true" || $SKIP_DEV_UPDATE == "yes"'
      when: never
    - if: $CI_COMMIT_TAG
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
